@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-emerald-500: #10b981;
  --color-emerald-950: #022c22;
}

@layer base {
  body {
    @apply bg-[#050505] text-neutral-300 font-sans selection:bg-emerald-500/20 antialiased overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply text-white tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-800 rounded-full hover:bg-neutral-700 transition-colors;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-[#050505];
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-900 rounded-full hover:bg-neutral-800 transition-colors;
}
